<main style="background-color: #f6f6f7; min-height: 100vh">
  <div class="container">
    <h1 class="text-center py-5 font-weight-bold">All platform crawler status</h1>
    {{#each crawlerStatus}}
    <section class="py-2">
      <div class="d-flex align-items-center my-2" data-toggle="collapse" data-target="#platform-{{platformId}}"
        style="cursor: pointer;">
        <h4 class="font-weight-bold m-0">
          {{this.platformTitle}}</h4>
        {{#if this.numberOfNoLatestDataProject}}
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill mx-3" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg" style="color: #dc3545;">
          <path fill-rule="evenodd"
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
        </svg>
        {{else}}
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill mx-3" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg" style="color: #007bff;">
          <path fill-rule="evenodd"
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
        {{/if}}

      </div>

      <div class="card collapse" id="platform-{{platformId}}">
        <div class="card-body" style="overflow-x: scroll; ">
          <table class="table">
            <thead>
              <tr style="white-space: nowrap;">
                <th scope="col">檢查時間點</th>
                <th scope="col">總在線專案</th>
                <th scope="col">熱門專案<svg width="1em" height="1em" viewBox="0 0 16 16"
                    class="bi bi-info-circle-fill mx-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                    data-toggle="tooltip" title="每 1 小時爬一次資料">
                    <path fill-rule="evenodd"
                      d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                  </svg></th>
                <th scope="col">非熱門專案<svg width="1em" height="1em" viewBox="0 0 16 16"
                    class="bi bi-info-circle-fill mx-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                    data-toggle="tooltip" title="每 24 小時爬一次資料">
                    <path fill-rule="evenodd"
                      d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                  </svg></th>
                <th scope="col">專案找不到</th>
                <th scope="col">專案已結束</th>
                <th scope="col">專案有問題</th>
                <th scope="col">耗時(秒)</th>
              </tr>
            </thead>
            <tbody>
              {{#each this.records}}
              <tr>
                <th scope="row"><span class="badge badge-light">{{this.localDateTime}}</span></th>
                <td>{{#if numberOfLiveProject}}<span
                    class="badge badge-pill badge-light">{{this.numberOfLiveProject}}</span>{{/if}}</td>
                <td>{{#if numberOfHotProject}}<span
                    class="badge badge-pill badge-primary">{{this.numberOfHotProject}}</span>{{/if}}</td>
                <td>{{#if numberOfPassedProject}}<span class="badge badge-pill badge-info js-expandable-project-badge"
                    data-platform-id="{{this.platformId}}" data-project-type="passed"
                    data-number-of-project="{{this.numberOfPassedProject}}"
                    style="cursor: pointer;">{{this.numberOfPassedProject}}</span>{{/if}}</td>
                <td>{{#if numberOfNotFoundProject}}<span
                    class="badge badge-pill badge-warning js-expandable-project-badge"
                    data-platform-id="{{this.platformId}}" data-project-type="not-found"
                    data-number-of-project="{{this.numberOfNotFoundProject}}"
                    style="cursor: pointer;">{{this.numberOfNotFoundProject}}</span>{{/if}}
                </td>
                <td>{{#if numberOfClosedProject}}<span
                    class="badge badge-pill badge-secondary js-expandable-project-badge"
                    data-platform-id="{{this.platformId}}" data-project-type="closed"
                    data-number-of-project="{{this.numberOfClosedProject}}"
                    style="cursor: pointer;">{{this.numberOfClosedProject}}</span>{{/if}}
                </td>
                <td>{{#if numberOfNoLatestDataProject}}<span
                    class="badge badge-pill badge-danger js-expandable-project-badge"
                    data-platform-id="{{this.platformId}}" data-project-type="no-latest-data"
                    data-number-of-project="{{this.numberOfNoLatestDataProject}}"
                    style="cursor: pointer;">{{this.numberOfNoLatestDataProject}}</span>{{/if}}
                </td>
                <td>
                  {{this.timeSpend}}
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </section>
    {{/each}}
  </div>
  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
      </div>
    </div>
  </div>
</main>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
  const platformCrawlerStatusList = {{{ json crawlerStatus }}}
  const modalBody = document.querySelector('.modal-body')
  const modalTitle = document.querySelector('.modal-title')
  const problemProjectBadges = document.querySelectorAll('.js-expandable-project-badge')
  problemProjectBadges.forEach(element => {
    element.addEventListener('click', function () {
      const platformId = this.dataset.platformId
      const projectType = this.dataset.projectType
      const numberOfProject = Number(this.dataset.numberOfProject)

      if (numberOfProject === 0) {
        return
      }


      const platform = platformCrawlerStatusList.find(crawlerStatus => crawlerStatus.platformId === platformId)
      const projectList = getProjectList(platform, projectType)
      const projectHTML = getProjectHTML(projectList, projectType)
      const modalTitleText = getModalTitleText(platform, projectType)
      modalBody.innerHTML = projectHTML
      modalTitle.innerHTML = modalTitleText
      $('#modal').modal('show')
    })
  })

  function getProjectList(platform, projectType) {
    const lastIndex = platform.records.length ? platform.records.length - 1 : 0

    if (projectType === 'not-found') {
      return platform.records[lastIndex].notFoundProjects
    } else if (projectType === 'closed') {
      return platform.records[lastIndex].closedProjects
    } else if (projectType === 'no-latest-data') {
      return platform.records[lastIndex].noLatestDataProjects
    } else if (projectType === 'passed') {
      return platform.records[lastIndex].passedProjects
    } else {
      return []
    }
  }

  function getProjectHTML(projectList, projectType) {
    let badgeType = ''
    if (projectType === 'not-found') {
      badgeType = 'badge-warning'
    } else if (projectType === 'closed') {
      badgeType = 'badge-secondary'
    } else if (projectType === 'no-latest-data') {
      badgeType = 'badge-danger'
    } else if (projectType === 'passed') {
      badgeType = 'badge-info'
    }

    let projectHTML = ''
    projectList.forEach(project => {
      projectHTML += `<a
                    target="_blank" href="${project.pageUrl}" class="badge ${badgeType}">${project.projectId}</a>,`
    })
    return projectHTML
  }

  function getModalTitleText(platform, projectType) {
    if (projectType === 'not-found') {
      return `${platform.platformTitle} 找不到`
    } else if (projectType === 'closed') {
      return `${platform.platformTitle} 已結束`
    } else if (projectType === 'no-latest-data') {
      return `${platform.platformTitle} 有問題`
    } else if (projectType === 'passed') {
      return `${platform.platformTitle} 非熱門專案`
    } else {
      return ''
    }
  }
</script>