<div class="container">
  <table class="table">
    <thead>
      <tr style="white-space: nowrap;">
        <th scope="col">檢查時間點</th>
        <th scope="col">總在線專案</th>
        <th scope="col">通過</th>
        <th scope="col">找不到</th>
        <th scope="col">已結束</th>
        <th scope="col">有問題</th>
      </tr>
    </thead>
    <tbody>
      {{#each zeczecStatusList}}
      <tr>
        <th scope="row"><span class="badge badge-light">{{this.dateTimeToCheck}}</span></th>
        <td><span class="badge badge-pill badge-light">{{this.numberOfLiveProject}}</span></td>
        <td><span class="badge badge-pill badge-success">{{this.numberOfPassedProject}}</span></td>
        <td><span
            class="badge badge-pill badge-warning">{{this.numberOfNotFoundProject}}</span>{{#each this.notFoundProjects}},<a
            target="_blank" href="https://www.zeczec.com/projects/{{this}}"
            class="badge badge-warning">{{this}}</a>{{/each}}
        </td>
        <td><span
            class="badge badge-pill badge-secondary">{{this.numberOfClosedProject}}</span>{{#each this.closedProjects}},<a
            target="_blank" href="https://www.zeczec.com/projects/{{this}}"
            class="badge badge-secondary">{{this}}</a>{{/each}}
        </td>
        <td><span
            class="badge badge-pill badge-danger">{{this.numberOfNoLatestDataProject}}</span>{{#each this.noLatestDataProjects}},<a
            target="_blank" href="https://www.zeczec.com/projects/{{this}}"
            class="badge badge-danger">{{this}}</a>{{/each}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>